*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #f785c6, #e78dd8, #d495e6, #be9df1, #a6a5f8, #90b1ff, #7cbbff, #6dc4ff, #69d3ff, #72e0fb, #85ecf6, #9ef7f1);
    background-repeat: no-repeat;
    background-size: 600%;
    width: 100%;
    min-height: 100vh; 
    overflow-x: hidden;
}

.container{
    background-image: linear-gradient(to bottom, #a77e95, #94728e, #7f6687, #695b7f, #525176, #445579, #345879, #255b76, #2b6b7a, #417a7a, #5c887a, #7a957d);
    border: 3px solid #fff;
    width: 600px;
    min-height: 600px;
    margin: 40px auto;
    border-radius: 20px;
}

.box{ 
    width: 595px;
    height: 50px;
    border-radius: 15px;
}

#timer{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(243, 239, 233);
}

div #ques{
    width: 570px;
    margin: auto;
    border: 3px solid #fff;
    font-size: 32px;
    padding: 10px;
    padding-left: 30px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

.checkbox{
     padding: 30px;
     color: #fff;
     border-radius: 10px;
     font-size: 35px;
}

#btn{
    width: 150px;
    height: 50px;
    padding: 10px 14px;
    font-size: 24px;
    background: #333;
    color: white;
    margin-left: 220px;
    margin-bottom: 50px;
    border: none;
    border-radius: 25px;
}

#btn:disabled {
    background-color: #aaa8a8 !important;
    border: 2px solid #aaa8a8;
    color: #fff;
}

#btn1{
    width: 150px;
    height: 50px;
    padding: 10px 14px;
    font-size: 24px;
    background: #333;
    color: white;
    margin-left: 220px;
    margin-bottom: 50px;
    border: none;
    border-radius: 25px;
}